# Environment variables
.env
.env.*

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Optional: common Python extras
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/


## Scraped Dataset
chunks_v1.json
document.json
url.json